@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary bg-white;
  }
  h1 {
    @apply text-2xl md:text-3xl font-extrabold;
  }
  h2 {
    @apply text-xl md:text-2xl font-bold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  h4,
  h5 {
    @apply text-base font-semibold;
  }
  h6 {
    @apply text-base font-bold;
  }
}

@layer components {
  .button {
    @apply pt-4 px-7 pb-3.5 rounded-lg font-semibold leading-[22px] whitespace-nowrap;
  }
}

@layer utilities {
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .clip-image {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 24%, 76% 0);
  }

  .read-more-gradient {
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.4),
      hsla(0, 0%, 100%, 0.95)
    );
  }

  @media (pointer: fine) {
    /* https://blog.mayank.co/better-scrolling-through-modern-css
      custom scrollbar styles only for desktop
    */
    .slider {
      tranition: color 250ms ease-in-out;
      @supports (scrollbar-gutter: stable) {
        scrollbar-gutter: stable;
      }

      @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
      }

      scrollbar-color: #757575 transparent;
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        width: 14px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #757575;
        background-clip: content-box;
        border: 5px solid transparent;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }

      &::-webkit-scrollbar-track {
        margin: 0 48px;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }

      &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
      }
    }
  }
}

/* Make clicks pass-through */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-yellow fixed top-0 left-0 w-full h-0.5 z-[1031];
}

/* Fancy blur effect */
#nprogress .peg {
  @apply block h-full w-full opacity-100 absolute right-0 -translate-y-1;
  box-shadow: 0 0 10px theme('colors.primary'), 0 0 5px theme('colors.primary');
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg:hover {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
